<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>Colony Collapse</string>
            <key>category</key>
            <string>Wildlife</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>bees_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>bees_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>bees_back1_lang1.jpg</string>
                    <string>bees_back2_lang1.jpg</string>
                    <string>bees_back3_lang1.jpg</string>
                    <string>bees_back4_lang1.jpg</string>
                    <string>bees_back5_lang1.jpg</string>
                    <string>bees_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>bees_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>bees_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>bees_back1_lang1.jpg</string>
                    <string>bees_back2_lang1.jpg</string>
                    <string>bees_back3_lang1.jpg</string>
                    <string>bees_back4_lang1.jpg</string>
                    <string>bees_back5_lang1.jpg</string>
                    <string>bees_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Cats and Songbirds</string>
            <key>category</key>
            <string>Wildlife</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>cats_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>cats_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>cats_back1_lang1.jpg</string>
                    <string>cats_back2_lang1.jpg</string>
                    <string>cats_back3_lang1.jpg</string>
                    <string>cats_back4_lang1.jpg</string>
                    <string>cats_back5_lang1.jpg</string>
                    <string>cats_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>cats_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>cats_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>cats_back1_lang1.jpg</string>
                    <string>cats_back2_lang1.jpg</string>
                    <string>cats_back3_lang1.jpg</string>
                    <string>cats_back4_lang1.jpg</string>
                    <string>cats_back5_lang1.jpg</string>
                    <string>cats_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Deer</string>
            <key>category</key>
            <string>Wildlife</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>deer_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>deer_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>deer_back1_lang1.jpg</string>
                    <string>deer_back2_lang1.jpg</string>
                    <string>deer_back3_lang1.jpg</string>
                    <string>deer_back4_lang1.jpg</string>
                    <string>deer_back5_lang1.jpg</string>
                    <string>deer_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>deer_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>deer_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>deer_back1_lang1.jpg</string>
                    <string>deer_back2_lang1.jpg</string>
                    <string>deer_back3_lang1.jpg</string>
                    <string>deer_back4_lang1.jpg</string>
                    <string>deer_back5_lang1.jpg</string>
                    <string>deer_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Invasive Insects</string>
            <key>category</key>
            <string>Invasives</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>insects_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>insects_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>insects_back1_lang1.jpg</string>
                    <string>insects_back2_lang1.jpg</string>
                    <string>insects_back3_lang1.jpg</string>
                    <string>insects_back4_lang1.jpg</string>
                    <string>insects_back5_lang1.jpg</string>
                    <string>insects_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>insects_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>insects_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>insects_back1_lang1.jpg</string>
                    <string>insects_back2_lang1.jpg</string>
                    <string>insects_back3_lang1.jpg</string>
                    <string>insects_back4_lang1.jpg</string>
                    <string>insects_back5_lang1.jpg</string>
                    <string>insects_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Invasive Plants</string>
            <key>category</key>
            <string>Invasives</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>plants_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>plants_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>plants_back1_lang1.jpg</string>
                    <string>plants_back2_lang1.jpg</string>
                    <string>plants_back3_lang1.jpg</string>
                    <string>plants_back4_lang1.jpg</string>
                    <string>plants_back5_lang1.jpg</string>
                    <string>plants_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>plants_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>plants_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>plants_back1_lang1.jpg</string>
                    <string>plants_back2_lang1.jpg</string>
                    <string>plants_back3_lang1.jpg</string>
                    <string>plants_back4_lang1.jpg</string>
                    <string>plants_back5_lang1.jpg</string>
                    <string>plants_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Releasing Pets</string>
            <key>category</key>
            <string>Invasives</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>pets_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>pets_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>pets_back1_lang1.jpg</string>
                    <string>pets_back2_lang1.jpg</string>
                    <string>pets_back3_lang1.jpg</string>
                    <string>pets_back4_lang1.jpg</string>
                    <string>pets_back5_lang1.jpg</string>
                    <string>pets_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>pets_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>pets_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>pets_back1_lang1.jpg</string>
                    <string>pets_back2_lang1.jpg</string>
                    <string>pets_back3_lang1.jpg</string>
                    <string>pets_back4_lang1.jpg</string>
                    <string>pets_back5_lang1.jpg</string>
                    <string>pets_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Dead Zones</string>
            <key>category</key>
            <string>Bay</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>deadzones_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>deadzones_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>deadzones_back1_lang1.jpg</string>
                    <string>deadzones_back2_lang1.jpg</string>
                    <string>deadzones_back3_lang1.jpg</string>
                    <string>deadzones_back4_lang1.jpg</string>
                    <string>deadzones_back5_lang1.jpg</string>
                    <string>deadzones_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>deadzones_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>deadzones_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>deadzones_back1_lang1.jpg</string>
                    <string>deadzones_back2_lang1.jpg</string>
                    <string>deadzones_back3_lang1.jpg</string>
                    <string>deadzones_back4_lang1.jpg</string>
                    <string>deadzones_back5_lang1.jpg</string>
                    <string>deadzones_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>        
        <dict>
            <key>name</key>
            <string>Impervious Surfaces</string>
            <key>category</key>
            <string>Bay</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>impervious_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>impervious_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>impervious_back1_lang1.jpg</string>
                    <string>impervious_back2_lang1.jpg</string>
                    <string>impervious_back3_lang1.jpg</string>
                    <string>impervious_back4_lang1.jpg</string>
                    <string>impervious_back5_lang1.jpg</string>
                    <string>impervious_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>impervious_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>impervious_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>impervious_back1_lang1.jpg</string>
                    <string>impervious_back2_lang1.jpg</string>
                    <string>impervious_back3_lang1.jpg</string>
                    <string>impervious_back4_lang1.jpg</string>
                    <string>impervious_back5_lang1.jpg</string>
                    <string>impervious_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>        
        <dict>
            <key>name</key>
            <string>Litter and Trash</string>
            <key>category</key>
            <string>Bay</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>litter_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>litter_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>litter_back1_lang1.jpg</string>
                    <string>litter_back2_lang1.jpg</string>
                    <string>litter_back3_lang1.jpg</string>
                    <string>litter_back4_lang1.jpg</string>
                    <string>litter_back5_lang1.jpg</string>
                    <string>litter_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>litter_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>litter_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>litter_back1_lang1.jpg</string>
                    <string>litter_back2_lang1.jpg</string>
                    <string>litter_back3_lang1.jpg</string>
                    <string>litter_back4_lang1.jpg</string>
                    <string>litter_back5_lang1.jpg</string>
                    <string>litter_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Climate Change</string>
            <key>category</key>
            <string>Habitat</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>climate_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>climate_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>climate_back1_lang1.jpg</string>
                    <string>climate_back2_lang1.jpg</string>
                    <string>climate_back3_lang1.jpg</string>
                    <string>climate_back4_lang1.jpg</string>
                    <string>climate_back5_lang1.jpg</string>
                    <string>climate_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>climate_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>climate_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>climate_back1_lang1.jpg</string>
                    <string>climate_back2_lang1.jpg</string>
                    <string>climate_back3_lang1.jpg</string>
                    <string>climate_back4_lang1.jpg</string>
                    <string>climate_back5_lang1.jpg</string>
                    <string>climate_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Habitat Loss</string>
            <key>category</key>
            <string>Habitat</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>habitat_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>habitat_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>habitat_back1_lang1.jpg</string>
                    <string>habitat_back2_lang1.jpg</string>
                    <string>habitat_back3_lang1.jpg</string>
                    <string>habitat_back4_lang1.jpg</string>
                    <string>habitat_back5_lang1.jpg</string>
                    <string>habitat_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>habitat_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>habitat_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>habitat_back1_lang1.jpg</string>
                    <string>habitat_back2_lang1.jpg</string>
                    <string>habitat_back3_lang1.jpg</string>
                    <string>habitat_back4_lang1.jpg</string>
                    <string>habitat_back5_lang1.jpg</string>
                    <string>habitat_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Herbicides</string>
            <key>category</key>
            <string>Habitat</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>herbicides_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>herbicides_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>herbicides_back1_lang1.jpg</string>
                    <string>herbicides_back2_lang1.jpg</string>
                    <string>herbicides_back3_lang1.jpg</string>
                    <string>herbicides_back4_lang1.jpg</string>
                    <string>herbicides_back5_lang1.jpg</string>
                    <string>herbicides_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>herbicides_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>herbicides_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>herbicides_back1_lang1.jpg</string>
                    <string>herbicides_back2_lang1.jpg</string>
                    <string>herbicides_back3_lang1.jpg</string>
                    <string>herbicides_back4_lang1.jpg</string>
                    <string>herbicides_back5_lang1.jpg</string>
                    <string>herbicides_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
        <dict>
            <key>name</key>
            <string>Lawns</string>
            <key>category</key>
            <string>Habitat</string>
            <key>context</key>
            <string>Context1</string>
            <key>card_positions</key>
            <dict>
                <key>Context</key>
                <array>
                    <integer>350</integer>
                    <integer>250</integer>
                    <integer>660</integer>
                    <integer>568</integer>
                </array>
                <key>Plan</key>
                <array>
                    <integer>850</integer>
                    <integer>300</integer>
                    <integer>1050</integer>
                    <integer>746</integer>
                </array>
            </dict>
            <key>de</key>
            <dict>
                <key>frontImage</key>
                <string>lawns_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>lawns_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>lawns_back1_lang1.jpg</string>
                    <string>lawns_back2_lang1.jpg</string>
                    <string>lawns_back3_lang1.jpg</string>
                    <string>lawns_back4_lang1.jpg</string>
                    <string>lawns_back5_lang1.jpg</string>
                    <string>lawns_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
            <key>en</key>
            <dict>
                <key>frontImage</key>
                <string>lawns_front_lang1.png</string>
                <key>frontImage_hires</key>
                <string>lawns_front_lang1.png</string>
                <key>numberOfBackViews</key>
                <integer>6</integer>
                <key>backImages</key>
                <array>
                    <string>lawns_back1_lang1.jpg</string>
                    <string>lawns_back2_lang1.jpg</string>
                    <string>lawns_back3_lang1.jpg</string>
                    <string>lawns_back4_lang1.jpg</string>
                    <string>lawns_back5_lang1.jpg</string>
                    <string>lawns_back6_lang1.jpg</string>
                </array>
                <key>numberOfLinkButtons</key>
                <integer>0</integer>
                <key>linkButtons</key>
                <array>
                </array>
            </dict>
        </dict>
    </array>
</plist>
