<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Views</key>
        <array>
            <dict>
                <key>Type</key>
                <string>Logo</string>
                <key>Button_lang1</key>
                <string>logo_lang1.png</string>
                <key>Imprint_image</key>
                <string>imprint.png</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>Pile</string>
                <key>Background_image</key>
                <string>background.png</string>
                <key>Button_lang1_on</key>
                <string>pile_on_lang1.png</string>
                <key>Button_lang1_off</key>
                <string>pile_off_lang1.png</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>Categories</string>
                <key>Button_lang1_on</key>
                <string>categories_on_lang1.png</string>
                <key>Button_lang1_off</key>
                <string>categories_off_lang1.png</string>
                <key>Background_image</key>
                <string>background.png</string>
                <key>Label_background_color</key>
                <array>
                    <real>0.76</real>
                    <real>0.75</real>
                    <real>0.75</real>
                </array>
                <key>Label_text_color</key>
                <array>
                    <real>0.0</real>
                    <real>0.0</real>
                    <real>0.0</real>
                </array>
                <key>Categories</key>
                <array>
                    <dict>
                        <key>Name</key>
                        <string>Wildlife</string>
                        <key>lang1</key>
                        <string>Wildlife</string>
                    </dict>
                    <dict>
                        <key>Name</key>
                        <string>Invasives</string>
                        <key>lang1</key>
                        <string>Invasives</string>
                    </dict>
                    <dict>
                        <key>Name</key>
                        <string>Habitat</string>
                        <key>lang1</key>
                        <string>Habitat</string>
                    </dict>
                    <dict>
                        <key>Name</key>
                        <string>Bay</string>
                        <key>lang1</key>
                        <string>Chesapeake Bay</string>
                    </dict>
                </array>
            </dict>
        </array>
        <key>Navigation</key>
        <dict>
            <key>Tint_color</key>
            <array>
                <real>0.93</real>
                <real>0.60</real>
                <real>0.12</real>
            </array>
            <key>Font</key>
            <string>Avenir-Medium</string>
        </dict>
    </dict>
</plist>
